{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>htmx</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze:wght@400;600&display=swap" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="js/script.js" defer></script>
  </head>
  <body>
    <main>
      {{ template "form" .Form }}
      {{ template "contacts" .Data }}
    </main>
  </body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
  <div>
    <label for="name">Name</label>
    <input
      id="name"
      {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} 
      type="text" 
      name="name"
      required />
  </div>
  <div>
    <label for="email">Email</label>
    <input 
      id="email"
      {{ if .Values.email }} value="{{ .Values.email }}" {{ end}}
      type="email"
      name="email"
      required />
  </div>
            
  {{ if .Errors.email }}
    <div id="error">{{ .Errors.email }}</div>
  {{ end }}

  <button type="submit">Create</button>
</form>
{{ end }}

{{ block "contacts" . }}
  <section>
    <h3>Contacts</h3>
    <div id="contacts">
      {{ range .Contacts }}
        {{ template "contact" . }}
      {{ end }}
    </div>
  </section>
{{ end }}

{{ block "contact" . }}
  <div id="contact-{{ .Id }}" class="contact">
    <div id="contact-indicator-{{ .Id }}" class="htmx-indicator">
      <img src="/img/bars.svg" alt="loading" />
    </div>
    <div>
      <span>{{ .Name }}</span>
      <span>({{ .Email }})</span>
    </div>
    <div
      hx-indicator="#contact-indicator-{{ .Id }}"
      hx-target="#contact-{{ .Id }}"
      hx-swap="outerHTML swap:250ms"
      hx-delete="/contacts/{{ .Id }}"
    >
      <svg>
        <use href="/img/defs.svg#remove" />
      </svg>
    </div>
  </div>
{{ end }}

<!-- oob === Out of Band -->
<!-- afterbegin -> Preprends to the existing list -->
{{ block "oob-contact" . }}
  <div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
  </div>
{{ end }}